@font-face {
    font-family: 'FrizQadrata';
    font-style: 'normal';
    font-weight: '400';
    src: local("FrizQadrata"),
        url("Fuentes/friz-quadrata-regular-os-5870333951e7c.ttf")
}

*{
    margin: 0;
    border: 0 none;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    background-color: rgb(21, 38, 49);
    color: rgb(255, 255, 255);
    font-family: "FrizQadrata";
    font-size: small;
}

.logo {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  ul{  list-style: none;}

ul#menu {
  width:80%;
  max-width:980px;
  margin:auto;
  border:1px solid #eee;
  background-color: olive;
}
ul#menu li {
  display: inline-block;
  width: 24%;   
  position: relative;	
}
ul#menu ul {
  width: 100%;
  background: #eee;
  border: none;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
ul#menu ul li {
  width: 100%;
}
ul#menu a, ul#menu span {
  padding: 0.5em; 
  color: #ffffff;
  text-decoration: none;
  font-family:"FrizQadrata";
  font-size:1em;
  display: block;
  text-align: center;
}
ul#menu span{cursor: pointer}
ul#menu a:hover, ul#menu a:active {
color: #003300;
}
ul#menu li:focus ul, ul#menu li:active ul {
  display: block;
}

header{
    margin: auto;
  }
  body {
    padding: 0% 5% 5% 5%;
  }
  
  /* INDEX */
  
  nav {
    grid-area: navi;
  }

.atributo {
    width: 15px;
}

.defensa {
    width: 15px;
}

.habilidad {
    width: 15px;
}

.magia {
    width: 15px;
}

.mye {
    width: 15px;
}

.ha {
    width: 15px;
}

.ppo {
    width: 15px;
}

.conocimiento {
    width: 15px;
}