@font-face {
    font-family: 'FrizQadrata';
    font-style: 'normal';
    font-weight: '400';
    src: local("FrizQadrata"),
        url("Fuentes/friz-quadrata-regular-os-5870333951e7c.ttf")
}

*{
    margin: 0;
    border: 0 none;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    /* background-color: rgb(126, 81, 35); */
    color: rgb(0, 0, 0);
    font-family: "FrizQadrata";
    font-size: small;
}

.atributo {
    width: 15px;
}

.defensa {
    width: 15px;
}

.habilidad {
    width: 15px;
}

.magia {
    width: 15px;
}

.mye {
    width: 15px;
}

.ha {
    width: 15px;
}

.ppo {
    width: 15px;
}

.conocimiento {
    width: 15px;
}