.atributo {
    width: 15px;
}

.defensa {
    width: 15px;
}

.habilidad {
    width: 15px;
}

.magia {
    width: 15px;
}

.mye {
    width: 15px;
}

.ha {
    width: 15px;
}

.ppo {
    width: 15px;
}

.conocimiento {
    width: 15px;
}